<div class="billing-container" [class.dialog-mode]="isEditMode">

  <!-- LEFT PANEL -->
  <mat-card class="billing-left">
    <mat-card-title>Customer</mat-card-title>
     @if(isEditMode)
     {
     
          <span class="cr-value">{{ billForm.get('customerName')?.value}}( {{billForm.get('customerPhone')?.value }} )</span>
    
        <div class="cr-row">
          <span class="cr-value">
            {{ billForm.get('customerAddress')?.value || '-' }}
          </span>
        </div>
     }
    <form [formGroup]="billForm" class="entry-form">

      @if(!isEditMode){
      <!-- CUSTOMER PHONE -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="customerPhone" [matAutocomplete]="custAuto" [readonly]="isEditMode"/>

        <mat-autocomplete #custAuto="matAutocomplete" 
          (optionSelected)="onCustomerSelected($event.option.value)">
          <mat-option *ngFor="let c of filteredCustomers$ | async" [value]="c.phone">
            {{ c.phone }} - {{ c.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Name</mat-label>

        <input matInput formControlName="customerName" [readonly]="isEditMode"/>

        <!-- ✅ ICON STAYS INSIDE FIELD -->
        <button mat-icon-button matSuffix color="primary" matTooltip="Edit customer" *ngIf="isExistingCustomer"
          (click)="openEditCustomer()" [disabled]="isEditMode">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Address</mat-label>
        <textarea matInput rows="1" formControlName="customerAddress" [readonly]="isEditMode"></textarea>
      </mat-form-field>

      <!-- Divider between Customer & Billing -->
     <!-- <mat-divider class="customer-billing-divider"></mat-divider> -->
    }
    @else {
      
    
    }

    <div class="billing-header full">
      <mat-card-title class="billing-title">Billing</mat-card-title>
    
      <mat-radio-group
        class="billing-radio"
        [(ngModel)]="isReturnMode"
        aria-label="Billing type" [ngModelOptions]="{ standalone: true }">
    
        <mat-radio-button [value]="false">
          Sale
        </mat-radio-button>
    
        <mat-radio-button [value]="true">
          Return
        </mat-radio-button>
    
      </mat-radio-group>
    </div>
    

      <!-- PRODUCT -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Product</mat-label>
        <input matInput formControlName="product" [matAutocomplete]="auto" />

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProduct"
          (optionSelected)="onProductSelected($event.option.value)">
          <mat-option *ngFor="let p of filteredProducts$ | async" [value]="p">
            {{ p.name }} ({{ p.code }})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Unit</mat-label>
        <input matInput formControlName="unit" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Qty</mat-label>
        <input matInput type="number" formControlName="qty" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Rate</mat-label>
        <input matInput type="number" formControlName="rate" />
        <button mat-icon-button matSuffix (click)="updateProductPrice()">
          <mat-icon>sync</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full" (click)="addItem()"
        [disabled]="!selectedProduct || billForm.invalid">
        ADD
      </button>

      <button mat-stroked-button class="full" (click)="openAddProductPopup()">
        + Add Product
      </button>

    </form>
  </mat-card>

  <!-- RIGHT PANEL -->
  @if(billItems.length)
  {
  <mat-card class="billing-right">
    <mat-card-title>Bill Items</mat-card-title>

    <div class="bill-header">

      <div class="bill-no">
        <strong>Bill No:</strong> {{ billNo }}
      </div>

      <form [formGroup]="billForm">

        <mat-form-field appearance="outline" class="bill-date">
          <mat-label>Bill Date</mat-label>

          <input matInput [matDatepicker]="picker" formControlName="billDate"/>

          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </form>


    </div>

    <table class="bill-table">

      <colgroup>
        <col style="width: 30%" /> <!-- Name -->
        <col style="width: 20%" /> <!-- Qty -->
        <col style="width: 20%" /> <!-- Rate -->
        <col style="width: 20%" /> <!-- Total -->
        <col style="width: 10%" /> <!-- Actions -->
      </colgroup>

      <thead>
        <tr>
          <th class="center">Name</th>
          <th class="center">Qty</th>
          <th class="center">Rate</th>
          <th class="center">Total</th>
          <th class="center">Actions</th>
        </tr>
      </thead>

      <tr *ngFor="let item of saleItems; let i = index">
        <td class="center">{{ item.name }}</td>
        <td class="center"><input type="number" [value]="item.qty" (change)="onQtyChange(i,$event)" /></td>
        <td class="center"><input type="number" [value]="item.price" (change)="onRateChange(i,$event)" /></td>
        <td class="center">{{ item.total }}</td>
        <td class="center">
          <button mat-icon-button color="warn" (click)="removeItem(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    @if (returnItems.length >0) {

      <div class="return-section">
    
        <div class="return-title">Return Items</div>
    
        <table class="bill-table return-table">
    
          <colgroup>
            <col style="width: 30%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 10%" />
          </colgroup>
    
          <tr *ngFor="let item of returnItems; let i = index">
            @if(item.isReturn){
              <td class="center return">{{ item.name }}</td>
              <td class="center return">{{ item.qty }}</td>
              <td class="center return">{{ item.price }}</td>
              <td class="center return">{{ item.total }}</td>
              <td class="center">
                <button mat-icon-button color="warn"
                        (click)="removeItem(item)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            }
          </tr>
    
        </table>
    
      </div>
    }

    
    
    <div class="grand-total">
      <div>Sale Total: {{ getSaleTotal() }}</div>
      <div class="return-text">Return Total: -{{ getReturnTotal() }}</div>
      <hr />
      <strong>Net Total: {{ getGrandTotal() }}</strong>
    </div>

    <div class="bill-actions">
      <button mat-raised-button color="primary" (click)="saveBill()" [disabled]="isSaving ||isPrinting|| billItems.length === 0">
        Save & Print
      </button>
    </div>
  </mat-card>
  }
  @else {
  <mat-card class="billing-right">
    <mat-card-title>Bill Items</mat-card-title>
    <div class="empty-bill">
      <mat-icon class="empty-icon">receipt_long</mat-icon>
      <div class="empty-title">No Products Added</div>
      <div class="empty-subtitle">
        Search and add products from the left panel
      </div>
    </div>
  </mat-card>
  }
  <div *ngIf="isPrinting" class="print-overlay">
    <mat-card class="print-card">
      <div class="print-title">Generating Invoice…</div>
  
      <mat-progress-bar
        mode="determinate"
        [value]="printProgress">
      </mat-progress-bar>
  
      <div class="print-hint">
        Please wait, large bills may take a few seconds
      </div>
    </mat-card>
  </div>
</div>