<!-- ========================= -->
<!-- Product Form             -->
<!-- ========================= -->
<mat-card>
  <mat-card-title>
    {{ editingProductId ? 'Edit Product' : 'Add Product' }}
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="productForm" class="form-grid">

      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="productForm.get('name')?.hasError('required')">
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Product Code</mat-label>
        <input matInput formControlName="code" />
        <mat-error *ngIf="productForm.get('code')?.hasError('required')">
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Actual Price</mat-label>
        <input matInput type="number" formControlName="actualPrice" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Selling Price</mat-label>
        <input matInput type="number" formControlName="sellingPrice" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Unit</mat-label>
        <mat-select formControlName="unit">
          <mat-option value="PCS">PCS</mat-option>
          <mat-option value="KG">KG</mat-option>
          <mat-option value="LTR">LTR</mat-option>
          <mat-option value="BOX">BOX</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" (click)="save()">
          {{ editingProductId ? 'Update' : 'Add Product' }}
        </button>
      
        <button
          *ngIf="editingProductId"
          mat-stroked-button
          color="warn"
          type="button"
          (click)="resetForm()">
          Cancel
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

<br />

<!-- ========================= -->
<!-- Product List             -->
<!-- ========================= -->
<mat-card>

  <mat-card-title>Products</mat-card-title>

  <mat-card-content>

    <!-- 🔍 Search (Server-side) -->
    <mat-form-field appearance="outline" style="width: 300px;"> <mat-label>Search</mat-label> <input matInput
        placeholder="Name or Code" #searchBox (keyup)="onSearch(searchBox.value)" />
    </mat-form-field>
    <button mat-stroked-button color="primary" style="margin-left:12px"
      (click)="showActualPrice = !showActualPrice; updateDisplayedColumns()">
      {{ showActualPrice ? 'Hide Actual Price' : 'Show Actual Price' }}
    </button>

    <div class="table-scroll">
    <table mat-table [dataSource]="products">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let p">{{ p.name }}</td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let p">{{ p.code }}</td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>Unit</th>
        <td mat-cell *matCellDef="let p">{{ p.unit }}</td>
      </ng-container>
      <ng-container matColumnDef="actualPrice">
        <th mat-header-cell *matHeaderCellDef>Actual Price</th>
        <td mat-cell *matCellDef="let p">{{ p.actualPrice }}</td>
      </ng-container>
      <ng-container matColumnDef="sellingPrice">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let p">{{ p.sellingPrice }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions-header">
          Actions
        </th>
        <td mat-cell *matCellDef="let p" class="actions-cell">
          <div class="action-buttons">
            <button mat-icon-button color="primary" (click)="edit(p)">
              <mat-icon>edit</mat-icon>
            </button>
      
            <button mat-icon-button color="warn" (click)="delete(p)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5,10,25]"
      (page)="onPageChange($event)">
    </mat-paginator>

  </mat-card-content>
</mat-card>