<h2 mat-dialog-title>Edit Customer</h2>

<mat-dialog-content>

  <form [formGroup]="form" class="dialog-form">

    <mat-form-field appearance="outline" class="full">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Address</mat-label>
      <textarea matInput rows="3" formControlName="address"></textarea>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
